<ng-template #label>
  <ng-content></ng-content>
</ng-template>

<a
  *ngIf="routerLink"
  [routerLink]="disabled ? null : routerLink"
  class="app-btn"
  [class.app-btn--outline]="variant === 'outline'"
  [class.app-btn--disabled]="disabled"
  [attr.aria-disabled]="disabled"
  [attr.tabindex]="disabled ? -1 : null"
>
  <ng-container [ngTemplateOutlet]="label"></ng-container>
</a>
<button
  *ngIf="!routerLink"
  [type]="type"
  class="app-btn"
  [class.app-btn--outline]="variant === 'outline'"
  [disabled]="disabled"
>
  <ng-container [ngTemplateOutlet]="label"></ng-container>
</button>
