@import '../../../../styles/mixins';

.app-btn {
  @include btn-primary;

  &--outline {
    @include btn-outline;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none !important;
    box-shadow: none !important;
  }
}
